body{
    /* background-color: aqua; */
    margin : 0px;
    padding: 0px
}

.homePage{
    /* background-color: rgb(234, 141, 19); */
    width: 100%;
    height: 100vh;

}

.headerSection{
    /* background-color: aqua; */
    width: 100%;
    height : 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.bodySection{
    /* background-color: blueviolet; */
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSection{
    /* background-color: brown; */
    width: 100%;
    height: 14%
}

.countrySection{
    /* background-color: rgb(13, 237, 28); */
    width: 100%;
    height: 50%;
}

.footerContent{
    /* background-color: coral; */
    width: 100%;
    height: 50%;
}

.leftHeaderSection{
    /* background-color: darkgoldenrod; */
    width: 14%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.rightHeaderSection{
    /* background-color: darkgoldenrod; */
    width: 32%;
    height: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.aboutBox{
    /* background-color: rgb(89, 145, 165); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutButton{
    border: none;
    font-size: large;
    cursor: pointer;
    padding: 5%;
    background-color: transparent;
}

.storeSection{
    /* background-color: rgb(133, 212, 120); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.mainContainer{
    /* background-color: whitesmoke; */
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageBox{
    display: flex;
    justify-content: center;
    height: 26%;
}

.searchBar{
    /* background-color: rgb(14, 181, 36); */
    border-style: solid;
    border-width: 1px;
    border-radius: 32px;
    border-color: #ccc;
    box-shadow: 3px 5px 3px #ccc;
    margin-top: 3%;
    height: 12%;
    width: 80%;
    display: flex;
    flex-direction: row;

}

.serchIcon{
    /* background-color: brown; */
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}

input{
    /* background-color: chartreuse; */
    border : none;
    background: transparent;
    width: 80%;
    margin: 5px;
}

/* .fa fa-search{
    height: 100%;
} */

.serchBottom{
    /* background-color: rgb(219, 219, 10); */
    height: 10%;
    width: 80%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.serchBottomButton{
    background: transparent;
    font-size: large;
    border: none;
    cursor: pointer;
    margin-left: 5%;
}